examples/basic.json
[{"id":"74afde7d.c4af","type":"tab","label":"Excel Sheets Test","disabled":false,"info":""},{"id":"52875c48.e40184","type":"function","z":"74afde7d.c4af","name":"example data","func":"msg.payload = [{\n        header: {\n            'author': 'authorName',\n            'title': 'title'\n        },\n        items: [\n         {\n            author:'john',\n            title:'how to use this'\n         },\n         {\n            author:'Bob',\n            title:'so Easy'\n         }\n        ],\n        sheetName: 'sheet1',\n    },\n    {\n        header: {\n            'a': 'AAAAA',\n            'b': 'BBBBB'\n        },\n        items: [\n         {\n            a:'a',\n            b:'b'\n         },\n         {\n            a:'aa',\n            b:'bb'\n         }\n        ],\n        sheetName: 'sheet2',\n    }];\nmsg.filepath = msg.home + 'j2x.xlsx';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":180,"wires":[["49cc85d5.30bfdc"]]},{"id":"b5991ac3.af95e8","type":"inject","z":"74afde7d.c4af","name":"","props":[{"p":"home","v":"HOME","vt":"env"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":180,"wires":[["52875c48.e40184"]]},{"id":"49cc85d5.30bfdc","type":"excelsheets","z":"74afde7d.c4af","name":"","file":"","x":550,"y":180,"wires":[[]]}]